* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.App button{
  margin: 5px;
  padding: 10px 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  border: 0;
  background-color: rgba(0, 33, 125, 0.998);
  color: #ffffff;
  outline: none;
  font-size: 15px; 
}

.House {
  margin-top: 25px; 
}

.Entrance {
  display: inline-block;
  margin: 15px;
  border: 2px solid #000;
}

.Entranceh4 {
  padding: 3px;
  text-align: center;
 }

.Floor{
  display: flex;
  border-bottom: 2px solid #000;

}

.FloorNumber{
  padding: 10px;
  border-right: 2px solid #000;
  font-weight: bold; 

}

.Flat{
  width: 30px;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.SearchHouse{
  margin: 5px;
  padding: 5px;
}

.SearchHouse h3{
  margin-left: 5px;  
}

.SearchHouse form{
  width: 100%; 
}


.SearchHouse form input, .SearchHouse form button{
  margin: 5px;
  padding: 10px 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  border: 1px solid;
  background-color: rgba(0, 6, 123, 0.998);
  color: #ffffff;
  outline: none;
  font-size: 15px; 
}






